<ngx-table
  columns="colegio"
  titulo="Selecionar Escola"
  [dataAsync]="escolas"
  (editE)="selectEscola($event); scroll(form);"
></ngx-table>

<nb-card>
  <nb-card-header>
    Criar Professor
  </nb-card-header>
  <nb-card-body>
    <ngx-form-conta [escola]="selectedEscola" (formValue)="resolveForm($event)"></ngx-form-conta>
    <br #form>
    <div class="form-group">
      <button class="btn btn-primary btn-with-icon" [disabled]="!formProfessor?.valid || querying" (click)="criarProfessor()">
        <i class="nb-plus"></i>
        CRIAR PROFESSOR
      </button>
      <ngx-spinner
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#000000"
        type = "square-jelly-box"
      ></ngx-spinner>
    </div>
  </nb-card-body>
</nb-card>