<ngx-table
  columns="professores"
  titulo="Selecão de Professor"
  [dataAsync]="professoresAsync"
  [update]="update"
  [remove]="delete"
  (editE)="selectProfessor($event); scroll(form);"
></ngx-table>

<ngx-table *ngIf="user?.role === 'superadmin'"
  columns="colegio"
  titulo="Selecão de Escola"
  [dataAsync]="escolas"
  (editE)="selectEscola($event); scroll(form);"
></ngx-table>

<nb-card>
  <nb-card-header>
    Editar professor
  </nb-card-header>
  <nb-card-body>
    <ngx-form-conta edit="true" [conta]="selectedProfessor" [escola]="selectedEscola" (formValue)="resolveForm($event)"></ngx-form-conta>
    <br>
    <div class="form-group" #form>
      <button class="btn btn-primary btn-with-icon" [disabled]="!formProfessor?.valid || querying" (click)="editProfessor()">
        <i class="nb-edit"></i>
        EDITAR PROFESSOR
      </button>
      <button class="btn btn-danger btn-with-icon delete" [disabled]="!selectedProfessor?.id || querying" (click)="deleteProfessor()">
        <i class="nb-trash"></i>
        DELETAR PROFESSOR
      </button>
      <ngx-spinner
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#000000"
        type = "square-jelly-box"
      ></ngx-spinner>
    </div>
  </nb-card-body>
</nb-card>
