<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <div class="logo" (click)="goToHome()">ED<span>-JRCOM</span></div>
  </div>
 <!--  <ngx-theme-switcher></ngx-theme-switcher> -->
  <button class="btn btn-hero-secondary" (click)="admin()">Admin</button>
</div>

<div class="header-container">
  <nb-actions *ngIf="logado" 
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.name"></nb-user>
    </nb-action>
    <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
  </nb-actions>
</div>
