<ng-container *ngIf="userAsync | async as userinfo; else Signout">
    <div class="header-container empty"></div>

    <div class="header-container first">
      <img src="../../../../assets/atletismo_logo.jpg" class="atletismo">
    </div>
    
    <div class="header-container" *ngIf="userinfo">
      <img src="../../../../assets/usuario.png" class="rounded foto">
      <div class="container userinfo">
        <div class="row">{{userinfo.fullName}}</div>
        <div class="row">{{userinfo.ano}}º ano</div>
        <div class="row">{{userinfo.escola.nome}}</div>
      </div>
    </div>
    
    <div class="header-container opcoes" *ngIf="userinfo">
      <ng-container *ngIf="userinfo.role === 'aluno'; else elseTemplate">
        <a (click)="rankingProfessor()">MEUS RECORDES</a>
        <a (click)="rankingAluno()">RANKING</a>
      </ng-container>
      <ng-template #elseTemplate>
        <a (click)="rankingProfessor()">RANKING</a>
      </ng-template>
      <a (click)="conteudo()">CONTEÚDO</a>
      <a (click)="quiz()">QUIZ</a>
    </div>
    
    <div class="header-container offscreen" *ngIf="userinfo">
      <div [ngClass]="{'hamburger': true, 'change': this.toggle}" (click)="this.toggle = !this.toggle;">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="burger-options" [ngClass]="{'hide': true, 'burger-open': this.toggle}">
        <p (click)="rankingProfessor(); this.toggle = !this.toggle">MEUS RECORDES</p>
        <p (click)="rankingAluno(); this.toggle = !this.toggle">RANKING</p>
        <p (click)="conteudo(); this.toggle = !this.toggle">CONTEÚDO</p>
        <p (click)="quiz(); this.toggle = !this.toggle">QUIZ</p>
        <p *ngIf="userinfo?.role != 'aluno'" (click)="admin(); this.toggle = !this.toggle">ADMIN</p>
        <p (click)="logout(); this.toggle = !this.toggle">SAIR</p>
      </div>
    </div>
    
    <div class="header-container last">
      <nb-action icon="nb-gear" class="toggle-layout" style="padding-right: 15px;" (click)="admin()" *ngIf="userinfo?.role != 'aluno'"></nb-action>
      <Button class="btn btn-hero-secondary" *ngIf="userinfo" (click)="logout()">SAIR</Button>  
    </div>    
  </ng-container>
<ng-template #Signout>
  <div class="header-container last">
    <Button class="btn btn-hero-secondary" (click)="logout()">SAIR</Button>  
  </div>    
</ng-template>
