<div class="header-container">
  
</div>

<div class="header-container first">
  <img src="../../../../assets/atletismo_logo.png" class="atletismo">
</div>

<div class="header-container" *ngIf="logado">
  <img src="../../../../assets/usuario.png" class="rounded foto">
  <div class="container">
    <div class="row">Maria Luiza R. de Grande</div>
    <div class="row">5º ano</div>
    <div class="row">Colégio Geração Raízes</div>
  </div>
</div>

<div class="header-container" *ngIf="logado">
  <div class="opcoes">
    <a (click)="recordes()">MEUS RECORDES</a>
    <a>CONTEÚDO</a>
    <a>QUIZ</a>
  </div>
</div>

<div class="header-container last">
  <nb-action icon="nb-gear" class="toggle-layout" (click)="admin()"></nb-action>
</div>
