<nb-card>
    <nb-card-header>Questões Selecionadas</nb-card-header>
    <nb-card-body>
      <cdk-drop (dropped)="dropped($event)">
        <div class="row">
          <div class="col-md-12" *ngFor="let questao of questoesSelected" cdkDrag>
            <div class="row box">
              <div class="col-6">
                <div cdkDragHandle class="btn btn-success"><i class="fa fa-pencil"></i></div>
                {{ questao.Pergunta }}
              </div>
            </div>
          </div>
        </div>
      </cdk-drop>
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" (click)="createProva()">Criar Prova</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" (click)="removeAll()">Limpar</button>
        </div>
        <div class="col-md-2">
          <ngx-spinner
            bdColor = "rgba(0,0,0,0)"
            size = "default"
            color = "#000000"
            type = "square-jelly-box"
          ></ngx-spinner>
        </div>
      </div>
    </nb-card-body>
  </nb-card>