<nb-card>
    <nb-card-header>Questões Selecionadas</nb-card-header>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="formTitulo">
          <div class="form-group">
            <div class="input-group">
              <input formControlName="titulo" placeholder="Titulo da Quiz" id="titulo" class="form-control" type="text">
            </div>
          </div>
        </form>
      </div>
    </div>
    <nb-card-body>
      <cdk-drop (dropped)="dropped($event)">
        <div class="row">
          <div class="col-md-12" *ngFor="let questao of questoesSelected; let i = index " cdkDrag>
            <div class="row box">
              <div cdkDragHandle class="handle btn btn-success"><i class="fa fa-pencil"></i></div>
              <div class="pergunta">
                {{ i + 1 }}). {{ questao.Pergunta }}
              </div>
            </div>
          </div>
        </div>
      </cdk-drop>
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" (click)="createProva()">Criar Prova</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" (click)="removeAll()">Limpar</button>
        </div>
        <div class="col-md-2">
          <ngx-spinner
            bdColor = "rgba(0,0,0,0)"
            size = "default"
            color = "#000000"
            type = "square-jelly-box"
          ></ngx-spinner>
        </div>
      </div>
    </nb-card-body>
  </nb-card>