<nb-card>
    <nb-card-header>Questões Selecionadas</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12 col-md-3" *ngFor="let questao of questoesSelected">
          <div class="row box">
            <div class="col-12">
              {{ questao.Pergunta }}
            </div>
            <div class="col-12">
              <button class="btn btn-danger" type="button" (click)="remove(questao)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" (click)="createProva()">Criar Prova</button>
        </div>
        <div class="col-md-2">
          <ngx-spinner
            bdColor = "rgba(0,0,0,0)"
            size = "default"
            color = "#000000"
            type = "square-jelly-box"
          ></ngx-spinner>
        </div>
      </div>
    </nb-card-body>
  </nb-card>