<div class = "row">
  <div class = "col-12" id="collapseQuestao" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <ngx-questao></ngx-questao>
      </div>
    </div>
  </div>
</div>
<div id="collapseProva" [ngbCollapse]="isCollapsedProva">
  <div class="card">
    <div class="card-body">
      <ngx-prova></ngx-prova>
    </div>
  </div>
</div>
<br>
<div class = "col-3">
  <p>
    <button type="button" [ngClass]="isCollapsedProva ? 'btn btn-success' : 'btn btn-danger'" (click)="collapse()"
      [attr.aria-expanded]="!isCollapsedProva">
      <p *ngIf="isCollapsedProva">Avançar para Adicionar Prova</p>
      <p *ngIf="!isCollapsedProva">Retornar para Adicionar Questão</p>  
    </button>
  </p>
</div>  
