<ngx-table
  [dataAsync]="alunosObs"
  titulo="Selecão de Aluno"
  columns="alunos"
  (editE)="selectAluno($event); scroll(atividade);"
></ngx-table>

<div #atividade>
  <ngx-table
    [dataAsync]="atividadesObs"
    titulo="Selecão de Atividade"
    columns="atividades"
    (editE)="selectAtividade($event); scroll(form)"
  ></ngx-table>
</div>

<nb-card>
  <nb-card-header>
    Criar Pontuação
  </nb-card-header>
  <nb-card-body>
    <ngx-form-pontuacao
      [atividade]="atividadeEscolhida"
      [aluno]="alunoEscolhido"
      (formValue)="resolveForm($event)"
    ></ngx-form-pontuacao>
    <div class="form-group" #form>
      <button class="btn btn-primary btn-with-icon" [disabled]="!formPontuacao?.valid || querying" (click)="criarPontuacao()">
        <i class="nb-plus"></i>
        CRIAR PONTUAÇÃO
      </button>
      <ngx-spinner
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#000000"
        type = "square-jelly-box"
      ></ngx-spinner>
    </div>
  </nb-card-body>
</nb-card>
