<div class="row">
  <div class="col-sm-4 form-group"> 
    <label>Aluno</label>
    <input type="text" class="form-control" disabled [(ngModel)]="nomeAluno">
  </div>
  <div class="col-sm-4 form-group">
    <label>{{ FormType | titlecase }}</label>
    <input type="text" class="form-control" disabled [(ngModel)]="tituloAtividade">
  </div>
  <div [formGroup]="formPontuacao" class="col-sm-4 form-group"> 
    <label>Pontuação</label>
    <input type="number" class="form-control" formControlName="pontuacao">
  </div>
</div>
