
<div>
  <table class="whitebg text">
    <tr class="item" *ngFor="let dado of dados; let i = index">
      <td class="container left">
        <div class="row"><b>{{ i + 1 }}. {{ dado.atividade.titulo }}</b></div>
        <div class="row">{{ dado.atividade.provaPratica }}: {{ dado.pontuacaoAula }} pontos</div>
        <div class="row">Quiz {{ i + 1 }}: {{ dado.pontuacaoQuiz }} pontos</div>
      </td>
      <td class="pontos"><b>{{ dado.pontuacaoAula + dado.pontuacaoQuiz }}p</b></td>
    </tr>

    <tr>
      <td class="left total">
        <div class="row"><b>Total de Pontos:</b></div>
      </td>
      <td class="pontos">
        <b>{{ total }}p</b>
      </td>
    </tr>
  </table>      
</div>
