
<div>
  <table class="whitebg text">
    <tr class="item" *ngFor="let dado of dados; let i = index">
      <td class="container left">
        <ng-container *ngIf="dado.atividade; else elseTemplate">
          <div class="row"><b>{{ i + 1 }}. {{ dado.atividade.titulo }}</b></div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="row"><b>{{ i + 1 }}. {{ dado.quiz.titulo }}</b></div>
        </ng-template>
      </td>
      <td class="pontos"><b>{{ dado.pontuacao }}p</b></td>
    </tr>

    <tr>
      <td class="left total">
        <div class="row"><b>Total de Pontos:</b></div>
      </td>
      <td class="pontos">
        <b>{{ total }}p</b>
      </td>
    </tr>
  </table>      
</div>
