<form [formGroup]="formAtividade">
    <div class="row">
        <div class="col-sm-6 form-group">
			<label>Título</label>
			<input type="text" placeholder="Título" class="form-control" formControlName="titulo">
        </div>
    </div>
    <div class="row">
		<div class="col-sm-6 form-group">
			<label>Quiz</label>
			<select class="form-control" formControlName="quiz">
				<option value=""></option>
				<option *ngFor="let quiz of quizes | async" [value]="quiz.id">{{ quiz.titulo }}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label>Prova Prática</label>
			<select class="form-control" formControlName="provaPratica">
				<option value=""></option>
				<option *ngFor="let prova of provas | async" [value]="prova.id">{{ prova.titulo }}</option>
			</select>
		</div>
	</div>
</form>