<ngx-instrucoes></ngx-instrucoes>

<nb-card>
  <nb-card-header>
    Criar Conteúdo
  </nb-card-header>
  <nb-card-body>
    <ngx-form-conteudo [quizes]="quizes" (formValue)="getForm($event)"></ngx-form-conteudo>
    <br>
    <div class="form-group">
      <button class="btn btn-primary btn-with-icon" [disabled]="!formConteudo?.valid || querying" (click)="criarConteudo()">
        <i class="nb-plus"></i>
        CRIAR CONTEÚDO
      </button>
      <ngx-spinner
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#000000"
        type = "square-jelly-box"
      ></ngx-spinner>
      <button [disabled]="!formConteudo?.value.texto" type="button" class="btn btn-hero-info btn-with-icon" style="float: right;" (click)="preview()">
        <i class="nb-info"></i>
        <span style="padding-left: 10px;" nbPopover="Veja como vai ficar o conteúdo, o conteudo atualiza em tempo real" nbPopoverMode="hint">Preview</span>
      </button>
    </div>
  </nb-card-body>
</nb-card>