<div class="row justify-content-center">
  <div class="col-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <button type="button" (click)="prev()" class="btn btn-outline-success btn-icon">
            <i class="nb-arrow-thin-left"></i>
          </button>
        </li>
        <li class="page-item">
          <button type="button" (click)="next()" class="btn btn-outline-success btn-icon">
            <i class="nb-arrow-thin-right"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
