<div class="container-fluid fixed">
  <div class="row white-bg">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 image">
      <img class="img-fluid" src="../../../../assets/atletismo_logo.png">  
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="container offset">
    <div class="row">
      <button href="#" class="btn btn-light" routerLink="/home/login">PROFESSOR</button>
    </div>
    <br>
    <div class="row">
      <button href="#" class="btn btn-light" routerLink="/home/login">ALUNO</button>
    </div> 
  </div>
</div>