<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="card text-center">
      <div class="card-header">
        Entrar
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div class="row justify-content-center">
          <button href="#" class="btn btn-danger" routerLink="/home/login">PROFESSOR</button>
        </div>
        <br>
        <div class="row justify-content-center">
          <button href="#" class="btn btn-primary" routerLink="/home/login">ALUNO</button>
        </div>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
</div>