.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.white-bg {
    top: 0;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.atletismo {
    display: flex;
    position: absolute;
    height: max-content;
}

.btn {
    width: 200px;
    margin: 10px;
    color: blue;
}

.offset {
    padding-top: 7%;
    margin-bottom: 12%;
}
