<ngx-table
  [dataAsync]="pontuacaoObs"
  titulo="Pontuações"
  columns="pontuacoes"
  (editE)="selectPontuacao($event)"
></ngx-table>

<nb-card>
  <nb-card-header>
    Editar Pontuação
  </nb-card-header>
  <nb-card-body>
    <ngx-form-pontuacao [pontuacao]='pontuacaoselecionada' (formValue)="getForm($event)"></ngx-form-pontuacao>
    <br>
    <div class="form-group">
      <button class="btn btn-primary"  [disabled]="!formPontuacao?.valid || querying" (click)="editPontuacao()">EDITAR PONTUAÇÃO</button>
      <button  class="btn btn-primary red" [disabled]="!formPontuacao?.valid || querying" (click)="deletar()">DELETAR</button>
    </div>

  </nb-card-body>
</nb-card>
