<ngx-instrucoes></ngx-instrucoes>
<nb-card>
  <nb-card-header>
    Editar Tutorial Aluno
  </nb-card-header>
  <nb-card-body [formGroup]="tutorialform">
    <ckeditor formControlName="iframe" [config]="{extraPlugins: 'divarea,image2', height: '320', skin: 'moono'}"></ckeditor>
    <br>
    <div class="form-group">
      <button class="btn btn-primary btn-with-icon" [disabled]="querying" (click)="editTutorial('aluno')">
        <i class="nb-edit"></i>
        EDITAR/CRIAR TUTORIAL ALUNO
      </button>
      <button class="btn btn-danger btn-with-icon delete" [disabled]="!tutorialform?.valid || querying" (click)="deleteTutorial('aluno')">
        <i class="nb-trash"></i>
        DELETAR TUTORIAL ALUNO
      </button>
      <ngx-spinner
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#000000"
        type = "square-jelly-box"
      ></ngx-spinner>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    Editar Tutorial Admin
  </nb-card-header>
  <nb-card-body [formGroup]="admintutorialform">
    <ckeditor formControlName="iframe" [config]="{extraPlugins: 'divarea,image2', height: '320', skin: 'moono'}"></ckeditor>
    <br>
    <div class="form-group">
      <button class="btn btn-primary btn-with-icon" [disabled]="querying" (click)="editTutorial('admin')">
        <i class="nb-edit"></i>
        EDITAR/CRIAR TUTORIAL ADMIN
      </button>
      <button class="btn btn-danger btn-with-icon delete" [disabled]="!admintutorialform?.valid || querying" (click)="deleteTutorial('admin')">
        <i class="nb-trash"></i>
        DELETAR TUTORIAL ADMIN
      </button>
      <ngx-spinner
        bdColor = "rgba(0,0,0,0)"
        size = "default"
        color = "#000000"
        type = "square-jelly-box"
      ></ngx-spinner>
    </div>
  </nb-card-body>
</nb-card>