<ngx-table
  [dataAsync]="atividadesObs"
  (editE)="select($event)"
  titulo="Atividades"
  columns='atividades'>
</ngx-table>

<nb-card>
  <nb-card-header>
    Editar Atividade
  </nb-card-header>
  <nb-card-body>
    <ngx-form-atividade [selecionado]="selecionado" [quizes]="quizesAsync" (formValue)="getForm($event)"></ngx-form-atividade>
    <br>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="!formAtividade?.valid || querying" (click)="editAtividade()">EDITAR ATIVIDADE</button>
    </div>
  </nb-card-body>
</nb-card>