.center-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
    padding-right: 20%;
}

.text {
    max-width: 100%;
}

:host ::ng-deep img {
    max-width: 100% !important;
    height: auto !important;
}

:host ::ng-deep iframe {
    max-width: 100% !important;
}

@media (max-width: 978px) {
    .center-div {
        padding:0;
        margin:0;
    }
}