<nb-card>
  <nb-card-header>
    Orientações ao professor para utilização do aplicativo Atletismo da Escola
  </nb-card-header>
  <nb-card-body>
    <h5>
      1. Cadastre seus alunos na plataforma acessando o site Atletismo na
      Escola.
      <br>
      2. Distribua a cada aluno um papel com seu login e senha cadastrado com
      uma semana de antecedência da aplicação para que eles possam
      acessar o Conteúdo 1, conhecer e navegar no site.
      <br>
      3. Lembre aos alunos da necessidade de realizar o experimento, cumprir
      os objetivos corretamente para obter pontos que somarão na avaliação,
      resultando a nota do bimestre.
      <br>
      4. Nessa etapa os alunos farão uma avaliação em forma de mapa
      conceitual para revelar a pesquisa o conhecimento prévio em atletismo.
      <br>
      5. Assim que os alunos fizerem seu primeiro acesso na plataforma,
      poderão assistir um tutorial em vídeo explicando toda a didática da
      aplicação. Terão acesso também ao Conteúdo 1.
      <br>
      6. Na primeira semana de aula prática, o professor deverá aplicar as
      Provas Práticas 1 e 2 aos alunos.
      <br>
      7. Após cada prova realizada, o professor deverá marcar na plataforma os
      valores de pontuação que cada aluno conquistou.
      <br>
      8. Ao término da aula, o professor deverá lembrar aos alunos para acessar
      o aplicativo para realizar o Quiz 1 referente ao Conteúdo 1 e também
      acessar o Conteúdo 2 para a próxima aula.
      <br>
      9. Na segunda semana de aula prática, o professor deverá aplicar as
      Provas Práticas 3 e 4 aos alunos.
      <br>
      10. Após cada prova realizada, o professor deverá marcar na plataforma os
      valores de pontuação que cada aluno conquistou.
      <br>
      11. Ao término da aula, o professor deverá lembrar aos alunos para acessar
      o aplicativo para realizar o Quiz 2 referente ao Conteúdo 2.
      <br>
      12. É fundamental nessa última etapa que os alunos executem a avaliação
      final em forma de mapa conceitual para revelar a pesquisa o
      conhecimento adquirido.
      <br>
    </h5>
  </nb-card-body>
</nb-card>
<ngx-ranking-tabela [dados]="rankingtabela" [user]="userinfo"></ngx-ranking-tabela>
