<ngx-table
  columns="alunos"
  titulo="Selecão de Alunos"
  [dataAsync]="alunosAsync"
  [update]="update"
  [remove]="delete"
  (editE)="resolvedAluno = $event; scroll(form);"
></ngx-table>

<nb-card>
    <nb-card-header>
      Editar Aluno
    </nb-card-header>
    <nb-card-body>
      <ngx-form-aluno
      (formEmitter)="getForm($event)"
      [resolvedAluno]=resolvedAluno>
      </ngx-form-aluno>
      <button #form class="btn btn-primary btn-with-icon" [disabled]="!formAluno?.valid" (click)="editAluno()">
        <i class="nb-plus"></i>
        EDITAR ALUNO
      </button>
      <button style="margin-left: 20px;" class="btn btn-danger btn-with-icon delete" [disabled]="!resolvedAluno?.id" (click)="deleteAluno()">
        <i class="nb-trash"></i>
        DELETAR ALUNO
      </button>
    </nb-card-body>
  </nb-card>
