<form [formGroup]="formColegio">
    <div class="form-group">
        <div class="row full-name-inputs">
        <div class="col-sm-12 input-group">
            <input formControlName="nome" placeholder="Nome" id="nome" class="form-control" type="text">
        </div>
        </div>
        <br>
        <div class="row full-name-inputs">
        <div class="col-sm-12 input-group">
            <input formControlName="endereco" placeholder="Endereço" id="endereco" class="form-control" type="text">
        </div>
        </div>
    </div>
</form>