<div class="header-container">
  <div class="logo-container">
    <div class="logo">Admin</div>
  </div>
</div>

<div class="header-container first">
  <img src="../../../../assets/atletismo_logo.png" class="atletismo">
</div>

<div class="header-container">
  <img src="../../../../assets/usuario.png" class="rounded foto">
  <div class="container">
    <div class="row">Maria Luiza R. de Grande</div>
    <div class="row">5º ano</div>
    <div class="row">Colégio Puta que pariu</div>
  </div>
</div>

<div class="header-container">
  <div class="opcoes">
    <a>MEUS RECORDES</a>
    <a>CONTEÚDO</a>
    <a>QUIZ</a>
  </div>
</div>
  
<div class="header-container">
  <button class="btn btn-hero-secondary" (click)="home()">Home</button>
</div>
  